:root {
    --fonte-Bebas-Neue: 'Bebas Neue', cursive;
    --fonte-Belleza: 'Belleza', sans-serif;
    --fonte-Economica: 'Economica', sans-serif;
    --fonte-Lato: 'Lato', sans-serif;
    --fonte-Pacifico: 'Pacifico', cursive;
    --fonte-Roboto: 'Roboto', sans-serif;
    --cor-cabecalho: #3460b4;
    --cor-link-cabecalho: #1C1C1C;
}